<div id="detail-page">
  <h2>{{ale.name}}</h2>
  <img id="main-img" ng-src="img/{{mainImg}}" alt="Image of {{ale.name}}">
  <div id="detail-page-thumbs">
    <ul>
      <li ng-repeat="img in ale.img">
        <img ng-src="img/{{img}}" ng-click="changeImg(img)" alt="Image of {{ale.name}}">
      </li>
    </ul>
  </div>
<!-- buttons -->
  <div>
    <span ng-click="showDetailsAct()">Details</span>
    <span ng-click="showFeedbackAct()">Feedback</span>
  </div>
<!-- details section  -->
  <div id="details-section" ng-show="showDetails">
    <ul>
      <li>Taste: {{ale.taste}}</li>
      <li>Magic: {{ale.magic}}</li>
      <li>Price: {{ale.price}}</li>
    </ul>
  </div>
<!-- feedback section -->
  <div id="feedback-section" ng-show="showFeedback">
    <ul>
      <li ng-repeat="feedback in feedbacks">
        <img ng-src="{{gravatarUrl(feedback.email)}}" alt="Image of {{feedback.name}}">
        <b>Name:</b> {{feedback.name}}
        <b>Rating:</b> {{feedback.rating}}
        <b>Description:</b> {{feedback.desc}}
      </li>
    </ul>
    <button type="button" ng-click="showFeedbackFormAct()">Add feedback</button>
  </div>
<!-- feedback form -->
  <div id="feedback-form-section" ng-show="showFeedbackForm">
    <form>
      <label for="form-text">Name:</label>
      <input id="form-text" type="text">
      <label for="form-email">Email:</label>
      <input id="form-email" type="email">
      <label for="form-rating">Rating:</label>
      <select id="form-rating" ng-options="num for num in ratingsArray" ng-model="selectedRating"></select>
      <label for="form-desc">Description:</label>
      <textarea id="form-desc" placeholder="Enter your feedback here"></textarea>
      <button type="submit">Submit</button>
    </form>
  </div>
</div>