<div id="detail-page">
  <h2>{{ale.name}}</h2>
<!-- images -->
  <img id="main-img" ng-src="img/{{mainImg}}" alt="Image of {{ale.name}}">
  <div id="detail-page-thumbs">
    <ul>
      <li ng-repeat="img in ale.img">
        <img ng-src="img/{{img}}" ng-click="changeImg(img)" alt="Image of {{ale.name}}">
      </li>
    </ul>
  </div>
<!-- order section -->
  <div class="order">
    <ul>
      <li>
        <span class="plus" ng-click="plusAle()">+</span>
        <span class="minus" ng-click="minusAle()">-</span>
      </li>
      <li>
        <div>
          Items: {{ total }}<br/>
          Price: {{ total * ale.price | currency }}
        </div>
      </li>
    </ul>
    <button type="button" ng-click="orderAle()">order</button>
  </div>
  <!-- buttons -->
  <div id="section-buttons">
    <span class="section-button" ng-class="{selected : showSection === 1}" ng-click="showSectionAct(1)">Details</span>
    <span class="section-button" ng-class="{selected : showSection === 2}" ng-click="showSectionAct(2)">Feedback</span>
  </div>
<!-- details section  -->
  <div id="details-section" ng-show="showSection === 1">
    <ul>
      <li>Taste: {{ale.taste}}</li>
      <li>Magic: {{ale.magic}}</li>
      <li>Price: {{ale.price}}</li>
    </ul>
  </div>
<!-- feedback section -->
  <div id="feedback-section" ng-show="showSection === 2">
    <ul>
      <li class="user" ng-repeat="feedback in feedbacks">
        <img ng-src="{{gravatarUrl(feedback.email)}}" alt="Image of {{feedback.name}}">
        <ul id="user-details">
          <li><b>Name:</b> {{feedback.name}}</li>
          <li><b>Rating:</b> {{feedback.rating}}</li>
          <li><b>Description:</b> {{feedback.desc}}</li>
        </ul>
      </li>
    </ul>
    <button type="button" ng-class="{selected : showFeedbackForm === true}" ng-click="showFeedbackFormAct()">Add feedback</button>
  </div>
<!-- feedback form -->
  <div id="feedback-form-section" ng-show="showFeedbackForm">
    <form ng-submit="feedbackForm.$valid && submitForm()" name="feedbackForm" novalidate="novalidate">
      <span class="circle"></span>
      <label for="form-text">Name:</label>
      <input class="buba" id="form-text" ng-change="checkForm()" ng-blur="checkFormField()" ng-model="form.name" type="text" required />
      <span class="circle"></span>
      <label for="form-email">Email:</label>
      <input id="form-email" ng-change="checkForm()" ng-blur="checkFormField()" ng-model="form.email" type="email" required />
      <span class="circle"></span>
      <label for="form-rating">Rating:</label>
      <select id="form-rating"
              ng-options="num for num in ratingsArray"
              ng-model="form.rating"
              ng-change="checkForm()"
              ng-blur="checkFormField()" required></select>
      <span class="circle"></span>
      <label for="form-desc">Description:</label>
      <textarea id="form-desc" ng-model="form.desc" placeholder="Enter your feedback here"></textarea>
      <button type="submit">{{buttonText}}</button>
    </form>
  </div>
</div>