<div id="page-ale">

  <ul>
    <li ng-repeat="item in ale">
      <div>
        <a href="#/ale/ale-{{item.name}}">
          <img ng-src="img/{{item.img}}" alt="Image of {{item.name}}">
          <p>
            <span>{{item.name}}</span>
            <span>{{item.price | currency}}</span>
          </p>
        </a>
      </div>
      <div>
        <span>+</span>
        <span>-</span>
      </div>
      <div>
        <span>Total: {{ total }}</span>
        <span>Price: {{ price | currency }}</span>
      </div>
      <button type="button">order</button>
    </li>
  </ul>

</div>