<div id="page-ale">

  <ul>
    <li ng-repeat="item in ale">
      <a href="#/ale/ale-{{item.name}}">
        <p class="ale-header">
          <span class="ale-name">{{item.name}}</span>
          <span class="ale-price">{{item.price | currency}}</span>
        </p>
      </a>
      <div>
        <span class="plus">+</span>
        <span class="minus">-</span>
      </div>
      <div>
        <span>Items: {{ total }}</span>
        <span>Price: {{ price | currency }}</span>
      </div>
      <button type="button">order</button>
    </li>
  </ul>

</div>