<div id="page-ale">

  <div id="page-ale-sort-elements">
    <input ng-model="aleSearch" type="search" placeholder="Type in to search..." />
    <select ng-model="aleSort" ng-options="item.value as item.text for item in sortCats">
      <option value="">-- Sort category --</option>
    </select>
  </div>

  <ul>
    <li class="ale-list" ng-repeat="item in ale | orderBy: aleSort | filter:{name:aleSearch} as results track by $index">
      <a href="#/ale/ale-{{item.name}}">
        <p class="ale-header">
          <span class="ale-name">{{item.name}}</span>
          <span class="ale-price">{{item.price | currency}}</span>
        </p>
      </a>
      <div class="ale-info">
        <div>
          <span class="plus" ng-click="plusAle(item)">+</span>
          <span class="minus" ng-click="minusAle(item)">-</span>
        </div>
        <div class="total-price">
          <p>
            Items: {{ item.pcs }}<br/>
            Price: {{ item.pcs * item.price | currency }}
          </p>
        </div>
      </div>
      <button type="button" ng-click="orderAle(item)">order</button>
    </li>
    <li ng-if="results.length === 0">
      <strong>No results found...</strong>
    </li>
  </ul>

</div>