<div id="page-company">

  <div>
    <h2>There is magic in the world</h2>
    <p class="intro">People always wonder where does the magic go when they grow old.
      Was it even there? Or maybe we just imagined it and there was no magic to begin with?
      We know that there are elves, pixies and other magical creatures. And of course there are all things magical, ale including!</p>
  </div>

  <h2 id="employee-header">Our magical assistants</h2>
  <ul id="employee-list">
    <li ng-repeat="item in list track by item.id">
      <img ng-src="img/{{item.img}}" alt="Image of {{item.name}}">
      <p>
        {{item.name}}<br/>
        <i>{{item.desc}}</i>
      </p>
    </li>
  </ul>

  <main-table></main-table>

</div>