<div id="page-company">

  <h2>There is magic in the world</h2>
  <p class="intro">People always wonder where does the magic go when they grow old.
  Was it even there? Or maybe we just imagined it and there was no magic to begin with?
  We know that there are elves, pixies and other magical creatures. And of course there are all things magical, ale including!</p>

  <h2>Meet our magical assistants</h2>
  <ul id="creatures-list">
    <li ng-repeat="item in list">
      <img ng-src="img/{{item.img}}" alt="Image of {{item.name}}">
      <p>{{item.name}}</p>
      <p>{{item.desc}}</p>
    </li>
  </ul>

  <h2>Ale comparison table</h2>
  <table>
    <thead>
      <tr>
        <th scope="col">Ale</th>
        <th scope="col">Taste</th>
        <th scope="col">Magic</th>
        <th scope="col">Price</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <td colspan="4"><i>*Data is based on recent research.</i></td>
      </tr>
    </tfoot>
    <tbody>
      <tr>
        <th scope="row">Touber</th>
        <td>Bitter green</td>
        <td>Zippy bubbles</td>
        <td>9.99</td>
      </tr>
    </tbody>
  </table>
</div>