/***************************************
GLOBAL
***************************************/

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
button {
  font: 1em/1.5 'Arapey', serif;
}

#feedback-form-section textarea::-webkit-input-placeholder {
  font-family: 'Alegreya Sans SC', sans-serif;
}

#feedback-form-section textarea:-ms-input-placeholder {
  font-family: 'Alegreya Sans SC', sans-serif;
}

#feedback-form-section textarea:-moz-placeholder {
  font-family: 'Alegreya Sans SC', sans-serif;
}

#feedback-form-section textarea::-moz-placeholder {
  font-family: 'Alegreya Sans SC', sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: 'Alegreya Sans SC', sans-serif;
}

h2 {
  text-align: center;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.primary-content,
.footer {
  width: 75%;
  max-width: 900px;
  padding-left: 10px;
  padding-right: 10px;
  margin: auto;
}



/***************************************
HEADER
***************************************/

.header {
  text-align: center;
  padding-top: 170px;
  height: 850px;
  background: linear-gradient(#ffa949, transparent 90%),
              linear-gradient(0deg, #fff, transparent),
              #ffa949 url("../img/mountains.jpg") no-repeat center;
  background-size: cover;
}

.title {
  color: #fff;
  font-size: 1.2rem;
  letter-spacing: .15em;
  font-weight: 100;
  border-bottom: 2px solid;
  padding-bottom: 10px;
}

h1 {
  color: rgba(255,255,255,1);
  font-size: 4.625rem;
  text-transform: uppercase;
  font-weight: normal;
  line-height: 1.3;
  text-shadow: 0 1px 1px rgba(0,0,0,.8);
  margin: 12px 0 0;
}

.arrow {
  width: 50px;
  margin-top: 150px;
}



/***************************************
HEADER: NAVIGATION
***************************************/

nav a {
  color: #fff;
  font-size: 1.4rem;
  font-weight: 800;
  display: block;
  padding: 10px;
  text-shadow: 0 1px 2px rgba(0,0,0,1);
  position: relative;
  left: 0;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.nav-col {
  display: inline-block;
}

.nav-first-col,
.nav-last-col {
  width: 10%;
}

.nav-col.nav-menu {
  width: 70%;
}

.nav-first-col a {
  border-left: 2px solid #fff;
}

.nav-last-col a {
  border-right: 2px solid #fff;
}

.nav-first-col a,
.nav-last-col a {
  color: rgba(255,255,255,0.0);
  text-shadow: 0 0 0 rgba(0,0,0,0.0);
}

.nav-first-col a.selected {
  position: relative;
  left: 100px;
}

.nav-last-col a.selected {
  position: relative;
  left: -100px;
}



/***************************************
FOOTER
***************************************/

.footer {
  clear: both;
  text-align: center;
  font-size: 0.7em;
  padding-top: 5em;
}

.social-icon {
  height: 20px;
  width: 20px;
  margin: 0 3px;
}


/***************************************
PAGE: COMPANY
***************************************/

.intro {
  text-align: center;
}

/* employees list */

#employee-header {
  padding-top: 2em;
}

#employee-list li {
  color: #aaa;
  text-align: center;
  display: inline-block;
  width: 46.5%;
  float: left;
}

#employee-list img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

#employee-list i {
  font-size: 0.8rem;
}

/* comparison table */

#table-header {
  clear: both;
  padding-top: 2em;
}

table {
  width: 100%;
  border: 2px solid #fff;
}

thead {
  color: #fff;
  background-color: #ffa949;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.8);
}

th,
td {
  padding: 5px;
  border: 2px solid #fff;
}

td {
  background-color: #eee;
}

th[scope='row'] {
  background-color: #ddd;
}



/***************************************
PAGE: ALE
***************************************/

#page-ale-sort-elements input,
#page-ale-sort-elements select {
  width: 100%;
  padding: 0;
  margin: 0 0 20px 0;
  border: 0;
  border-bottom: 1px solid #999;
}

#page-ale-sort-elements select {
  border: 1px solid #999;
}

#page-ale li {
  display: block;
  margin-bottom: 40px;
}

p.ale-header {
  color: #000;
  background-color: #FFD5A6;
  font-weight: bold;
  margin-bottom: 0;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

p.ale-header:hover,
p.ale-header:focus {
  background-color: #F39329;
}

p.ale-header .ale-name {
  display: inline-block;
  width: 48%;
}

p.ale-header .ale-price {
  display: inline-block;
  width: 48%;
  text-align: right;
}

.ale-info {
  padding-top: 2px;
  margin-top: 2px;
}

.ale-info div {
  display: inline-block;
  width: 48%;
  padding-top: 2px;
  margin-top: 2px;
}

span.plus,
span.minus {
  background-color: #eee;
  display: inline-block;
  font-size: 2.2rem;
  width: 60px;
  height: 60px;
  padding: 1px;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

span.plus:hover,
span.minus:hover,
span.plus:focus,
span.minus.focus {
  background-color: #ccc;
}

span.plus:active,
span.minus:active {
  background-color: #666;
  color: #fff;
}

.total-price p {
  margin: 0;
}

#page-ale button {
  background-color: #fff;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  border: 1px solid #999;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

#page-ale button:hover,
#page-ale button:focus {
  background-color: #ccc;
}

#page-ale button:active,
#page-ale button:active {
  background-color: #666;
  color: #fff;
}

/* details page - images */

#detail-page img {
  border-radius: 50%;
}

img#main-img {
  display: block;
  margin: 0 auto;
}

#detail-page-thumbs {
  text-align: center;
}

#detail-page-thumbs img {
  display: inline-block;
  width: 40px;
  height: 40px;
}

#detail-page-thumbs li {
  display: inline-block;
}

/* details page - order section */

.order-section {
  display: inline-block;
  width: 33%;
}

/* details page - tab selection */
.section-button {
  color: #000;
  background-color: #fff;
  display: inline-block;
  text-align: center;
  width: 48%;
  border: 1px solid #000;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.section-button:hover,
.section-button:focus {
  background-color: #FFD5A6;
}

.section-button.selected {
  background-color: #FFD5A6;
}

/* feedback section */

#feedback-section .user {
  padding: 10px 0;
}

#feedback-section img {
  height: 60px;
  width: 60px;
}

#feedback-section #user-details {
  display: inline-block;
  width: 70%;
  margin: 0 0 0 20px;
}

#feedback-section button {
  color: #000;
  background-color: #fff;
  width: 100%;
  border: 1px solid #000;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

#feedback-section button:hover,
#feedback-section button:focus {
  background-color: #FFD5A6;
}

#feedback-section button.selected {
  background-color: #FFD5A6;
}

/* feedback form */

span.circle {
  background-color: #FFD5A6;
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

#feedback-form-section {
  padding: 20px 0 0 0;
}

#feedback-form-section label {
  text-align: center;
}

#feedback-form-section input,
#feedback-form-section select,
#feedback-form-section textarea {
  width: 100%;
}

#feedback-form-section button {
  width: 100%;
  background-color: #fff;
  margin-top: 20px;
  border: 1px solid black;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

#feedback-form-section button:hover {
  background-color: #FFD5A6;
}



/***************************************
PAGE: YOU
***************************************/



/***************************************
CLEARFIX
***************************************/

.group:after {
  content: "";
  display: table;
  clear: both;
}
