/***************************************
GLOBAL
***************************************/

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font: 1em/1.5 'Arapey', serif;
}

h1,
h2,
h3,
h4 {
  font-family: 'Alegreya Sans SC', sans-serif;
}

h2 {
  text-align: center;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.primary-content,
.footer {
  width: 75%;
  max-width: 900px;
  padding-left: 10px;
  padding-right: 10px;
  margin: auto;
}



/***************************************
HEADER
***************************************/

.header {
  text-align: center;
  padding-top: 170px;
  height: 850px;
  background: linear-gradient(#ffa949, transparent 90%),
              linear-gradient(0deg, #fff, transparent),
              #ffa949 url("../img/mountains.jpg") no-repeat center;
  background-size: cover;
}

.title {
  color: #fff;
  font-size: 1.2rem;
  letter-spacing: .15em;
  font-weight: 100;
  border-bottom: 2px solid;
  padding-bottom: 10px;
}

h1 {
  color: rgba(255,255,255,1);
  font-size: 4.625rem;
  text-transform: uppercase;
  font-weight: normal;
  line-height: 1.3;
  text-shadow: 0 1px 1px rgba(0,0,0,.8);
  margin: 12px 0 0;
}

.arrow {
  width: 50px;
  margin-top: 150px;
}



/***************************************
HEADER: NAVIGATION
***************************************/

nav a {
  color: #fff;
  font-size: 1.4rem;
  font-weight: 800;
  display: block;
  padding: 10px;
  text-shadow: 0 1px 2px rgba(0,0,0,1);
  position: relative;
  left: 0;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.nav-col {
  display: inline-block;
}

.nav-first-col,
.nav-last-col {
  width: 10%;
}

.nav-col.nav-menu {
  width: 70%;
}

.nav-first-col a {
  border-left: 2px solid #fff;
}

.nav-last-col a {
  border-right: 2px solid #fff;
}

.nav-first-col a,
.nav-last-col a {
  color: rgba(255,255,255,0.0);
  text-shadow: 0 0 0 rgba(0,0,0,0.0);
}

.nav-first-col a.selected {
  position: relative;
  left: 100px;
}

.nav-last-col a.selected {
  position: relative;
  left: -100px;
}



/***************************************
FOOTER
***************************************/

.footer {
  clear: both;
  text-align: center;
  font-size: 0.7em;
  padding-top: 5em;
}

.social-icon {
  height: 20px;
  width: 20px;
  margin: 0 3px;
}


/***************************************
PAGE: COMPANY
***************************************/

.intro {
  text-align: center;
}

/* employees list */

#employee-header {
  padding-top: 2em;
}

#employee-list li {
  color: #aaa;
  text-align: center;
  display: inline-block;
  width: 46.5%;
  float: left;
}

#employee-list img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

#employee-list i {
  font-size: 0.8rem;
}

/* comparison table */

#table-header {
  clear: both;
  padding-top: 2em;
}

table {
  width: 100%;
  border: 2px solid #fff;
}

thead {
  color: #fff;
  background-color: #ffa949;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.8);
}

th,
td {
  padding: 5px;
  border: 2px solid #fff;
}

td {
  background-color: #eee;
}

th[scope='row'] {
  background-color: #ddd;
}



/***************************************
PAGE: ALE
***************************************/

p.ale-header {
  background-color: #eee;
  clear: both;
}

p.ale-header .ale-name {
  display: inline-block;
  width: 48%;
}

p.ale-header .ale-price {
  display: inline-block;
  width: 48%;
  text-align: right;
}

span.plus,
span.minus {
  background-color: #eee;
  display: inline-block;
  font-size: 2.2rem;
  width: 60px;
  height: 60px;
  padding: 1px;
  border-radius: 50%;
  text-align: center;
}


/***************************************
PAGE: YOU
***************************************/



/***************************************
CLEARFIX
***************************************/

.group:after {
  content: "";
  display: table;
  clear: both;
}
