<div id="page-you">

  <h2>{{ regUser.name ? "Your details" : "Please register" }}</h2>

  <form ng-hide="regUser.name" ng-submit="userForm.$valid && submitForm()" name="userForm" novalidate="novalidate">
    <label for="form-you-name">Enter your name:</label>
    <input ng-change="checkForm()" ng-model="form.name" id="form-you-name" type="text" required />
    <label for="form-you-email">Enter your email:</label>
    <input ng-change="checkForm()" ng-model="form.email" id="form-you-email" type="email" required />
    <button type="submit">{{ buttonText }}</button>
  </form>

  <div ng-show="regUser.name">
    <ul>
      <li><img ng-src="{{userImage(regUser.email)}}" alt="Image of {{ regUser.name }}"/></li>
      <li>Name: {{ regUser.name }}</li>
      <li>Email: {{ regUser.email }}</li>
      <li>Current orders:
        <ul>
          <li class="order-list" ng-repeat="order in orders">
            <b>Name: </b><span>{{ order.name }}</span><br/>
            <b>Pcs: </b><span class="order-{{$index}}">{{ order.pcs }}</span><br/>
            <b>Price: </b><span>{{ order.price }}</span><br/>
            <button ng-click="changeOrder($index)" class="button-change" type="button">{{ changeButtonText }}</button>
            <button ng-click="cancelOrder(order)" class="button-cancel" type="button">Cancel</button>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>