<div id="page-you">

  <h2>{{ regUser.name ? "Your details" : "Please register" }}</h2>

  <form ng-hide="regUser.name" ng-submit="userForm.$valid && submitForm()" name="userForm" novalidate="novalidate">
    <label for="form-you-name">Enter your name:</label>
    <input ng-change="checkForm()" ng-model="form.name" id="form-you-name" type="text" required />
    <label for="form-you-email">Enter your email:</label>
    <input ng-change="checkForm()" ng-model="form.email" id="form-you-email" type="email" required />
    <button type="submit">{{ buttonText }}</button>
  </form>

  <div ng-show="regUser.name" class="user-login">
    <ul>
      <li><img ng-src="{{userImage(regUser.email)}}" alt="Image of {{ regUser.name }}"/></li>
      <li>Name: {{ regUser.name }}</li>
      <li>Email: {{ regUser.email }}</li>
      <li>Current orders:
        <ul>
          <li class="order-list order-{{order.name}}" ng-repeat="order in orders">
            <div class="show-details">
              <div><b>Name: </b><span>{{ order.name }}</span></div>
              <div class="pcs-field" ng-click="changeOrder(order)"><b>Pcs: </b><span>{{ order.pcs }}</span></div>
              <div><b>Price: </b><span>{{ order.price * order.pcs }}</span></div>
            </div>
            <div class="edit-details">
              <div><b>Name: </b><span>{{ order.name }}</span></div>
              <div><b>Pcs: </b><input ng-model="order.pcs" ng-focus="writeFocus()" ng-blur="closeEditMode(order)" type="number" min="1"></div>
              <div><b>Price: </b><span>{{ order.price * order.pcs }}</span></div>
            </div>
            <button ng-click="changeOrder(order)" class="button-change" type="button">Change</button>
            <button ng-click="cancelOrder(order)" class="button-cancel" type="button">Cancel</button>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>